html {
  background: transparent !important;
  border: 0;
}

body {
  background: transparent !important;
  margin: 0px;
  padding: 0px;
}

iframe {
  background: transparent !important;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
